{% extends 'base.html.twig' %}

{% block title 'Annonce' %}

{% block body %}
    <div class="jumbotron text-center">

        <h1> Annonce produit </h1>

        <p> annonce de different produit </p>
    </div>
    <div class="jumbotron"> 
        <div class="container">
        {{ form_start(form) }}
            <div class = "form-row">
                <div class="col">
                    {{ form_row(form.nomProduit) }}
                </div>
                <div class="col">
                    {{ form_row(form.maxPrix) }}
                </div>
            
                {#<div class="col">
                    {{ form_row(form.marqueRechercher) }}
                </div>#}
                
                <div class="col">
                    {{ form_row(form.dateChercher) }}
                </div>
                <div class="col">
                    <button class="btn btn-primary">Rechercher</button>.
                </div>
            </div>
        {{ form_end(form) }}
        </div>
    </div>


    <div class="container">
    </div>

    <div class ="container">
     <a class="btn btn-primary" href="{{ path('adminPage')}}">Modifier les produits</a>
        <h2> liste des produits :</h2>
        <div class = "row flex">
            {% for produit in produits %}
                <div class ="col-3">
                    <div class ="card">
                        <div class ="card-body">
                            <h5 class ="card-title">
                                <a href="{{ path('produit.show', {id: produit.id, slug: produit.slug}) }}">{{ produit.nom}}</a>
                            </h5>
                            <h1 class="card-text" style="font-weight: bold;"> {{produit.prix}}€ </h1>
                            <p class="card-text"> marque: {{produit.marque.nom}} </p>
                            <p class="card-text"> date d'ajout: {{produit.dateAjout|date('Y-m-d')}} </p>
                        </div>
                    </div>
                </div>
            {% endfor%}
        </div>

        <div class="pagination">
            {{ knp_pagination_render(produits) }}
        </div>

    </div>
{% endblock %}
